h1 {
	color: #4B4B4D;
	font-size: 40px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

h2 {
	color: #4B4B4D;
	font-size: 30px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

p, form, button, li {
	color: #4B4B4D;
	font-size: 22px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

#p1_choices_1, #p1_choices_2, #p2_choices_1, #p2_choices_2, #p3_choices, #results  {
	display:none;
}

 #sortable, #sortable_p2 { 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0; 
 	width: 100%; 
 }

 #sortable li, #sortable_p2 li { 
 	margin: 0 3px 3px 3px; 
 	padding: 0.4em; 
 	padding-left: 1.5em; 
 	font-size: 1.4em; 
 	height: 18px; 
 }
 
 #sortable li span, #sortable_p2 li span { 
 	position: absolute; 
 	margin-left: -1.3em; 
 }

 .ui-state-highlight { 
 	height: 1.5em; 
 	line-height: 1.2em; 
 }